.wrapper{
    display: flex;
}

header{
}

#side-bar {
}

#left-panel {
    width: 400px;
}
.main {
}
#sidebar-resizer {
    position: absolute;
    left: 660px;
    width: 6px;
    cursor: e-resize;
}
